.start {
  width: 800px;
  background-color: whitesmoke;
  height: 900px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
body {
  display: grid;
  place-items: center;
  height: 100vh;
  background-color: blacks;
}
.start h1 {
  font-size: 4em;
}
.start p {
  font-size: 2.5em;
}
.start button {
  padding: 0.5em 1em;
  font-weight: bold;
  margin-top: 2em;
  width: 200px;
  font-size: 1em;
}

.mcqs {
  min-width: 200px;
  width: 700px;
  max-height: 200px;
  min-height: 100px;
}
.options {
  display: flex;
  column-gap: 10px;
  justify-content: space-evenly;
  align-items: center;
}
.mcqs h2 {
  font-size: 1.3em;
}

.radio-button {
  display: inline-block;
  margin: 5px;
}

.radio-button input {
  display: none;
}

.radio-button label {
  display: block;
  padding: 10px;
  background-color: gray;
  color: #fff;
  border: 1px solid #2980b9;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.radio-button input:checked + label {
  background-color: black;
}
